 .mbutton {
    border-radius: 50%;
}
 select {
     width: 95%;
     margin-left: 5%;
     font-size: 50px;
}
 .hh{
     height:2.5em;
}
 .search{
     margin:1em 2em 1em 2em;
}

 .houses{
     -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
     box-sizing: content-box;
     border: 2px solid;
     -webkit-border-radius: 10px;
     border-radius: 10px;
     color: rgba(0,0,0,1);
     -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
     background: linear-gradient(to left, #999966 -4%, #333300 48%);
     margin-top: 5%;
}
 .books{
     -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
     box-sizing: content-box;
     border: 2px solid;
     -webkit-border-radius: 10px;
     border-radius: 10px;
     color: rgba(0,0,0,1);
     -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
     background: linear-gradient(to right, #8c1ce3 0%, #9900cc 100%);
     margin-top: 5%;
}
 .characters{
     -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
     box-sizing: content-box;
     border: 2px solid;
     -webkit-border-radius: 10px;
     border-radius: 10px;
     color: rgba(0,0,0,1);
     -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
     background: linear-gradient(to left, #0099ff -4%, #003366 50%);
     margin-top: 5%;
}
 .button_example{
     border:1px solid #b7b7b7;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
    border-radius: 3px;
    font-size:12px;
    font-family:arial, helvetica, sans-serif;
     padding: 10px 10px 10px 10px;
     text-decoration:none;
     display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold;
     color: #FFFFFF;
     background-color: #d3d3d3;
     background-image: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
     background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
     background-image: -moz-linear-gradient(top, #d3d3d3, #707070);
     background-image: -ms-linear-gradient(top, #d3d3d3, #707070);
     background-image: -o-linear-gradient(top, #d3d3d3, #707070);
     background-image: linear-gradient(to bottom, #d3d3d3, #707070);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d3d3d3, endColorstr=#707070);
     margin-bottom: 10px;
}
 .button_example:hover{
     border:1px solid #a0a0a0;
     background-color: #bababa;
     background-image: -webkit-gradient(linear, left top, left bottom, from(#bababa), to(#575757));
     background-image: -webkit-linear-gradient(top, #bababa, #575757);
     background-image: -moz-linear-gradient(top, #bababa, #575757);
     background-image: -ms-linear-gradient(top, #bababa, #575757);
     background-image: -o-linear-gradient(top, #bababa, #575757);
     background-image: linear-gradient(to bottom, #bababa, #575757);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bababa, endColorstr=#575757);
}
 .mainHeader {
     background: no-repeat center bottom scroll;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     min-height: 150px;
     padding-top: 2%;
     font-size: 100%;
}
 .mbutton {
     background-color: black;
     border: none;
     color: white;
     padding: 16px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     -webkit-transition-duration: 0.4s;
    /* Safari */
     transition-duration: 0.4s;
     cursor: pointer;
}
 .mbutton:hover {
     background-color: white;
     color: black;
}
 #return-to-top {
     position: fixed;
     bottom: 20px;
     right: 20px;
     background: rgb(0, 0, 0);
     background: rgba(0, 0, 0, 0.7);
     width: 50px;
     height: 50px;
     display: block;
     text-decoration: none;
     -webkit-border-radius: 35px;
     -moz-border-radius: 35px;
     border-radius: 35px;
     display: none;
     -webkit-transition: all 0.3s linear;
     -moz-transition: all 0.3s ease;
     -ms-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
     transition: all 0.3s ease;
}
 #return-to-top i {
     color: #fff;
     margin: 0;
     position: relative;
     left: 16px;
     top: 13px;
     font-size: 19px;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -ms-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
     transition: all 0.3s ease;
}
 #return-to-top:hover {
     background: rgba(0, 0, 0, 0.9);
}
 #return-to-top:hover i {
     color: #fff;
     top: 5px;
}
 