nav {
     background-color: #62B7BA;
     border-radius: 0 !important;
     position: inherit;
}
 .navbar-brand {
     color: white;
}
 .navbar-nav li a {
     font-size: 20px;
     color: white;
}
 .margins {
     margin: 0 !important;
     padding: 0 !important;
}
 .toogleBlockForNavbar {
     min-height: 30px;
     background-color: #5BAAAD;
     position: fixed;
     top:0;
     width:100%;
     z-index:100;
     opacity: 0.6 !important;
}
 .showNavButton {
     animation: blinker 2s linear infinite;
}
 .toggleIconRotate {
     text-align: center;
     -webkit-transform: rotate(180deg);
     transform: rotate(180deg);
}
 @keyframes blinker {
     50% {
        opacity: 0;
    }
}
 .filtersBlock {
     float:left;
     width: 19%;
     margin-left: 0.5%;
     background-color: white;
     margin-top: 0.5%;
     margin-right: 0.5%;
     transition-property: position;
     transition-duration: 1s;
     transition-timing-function: linear;
}
 .filtersBlock p {
     border-top: 2px solid #C4C4C4 !important;
     border-bottom: 6px solid #C4C4C4 !important;
}
 .filtersBlock p select {
     width: 200px;
     margin: 5%;
}
 body {
     background-color: #C4C4C4 !important;
}
 .repeatingDataBlock {
     float: right;
     background-color: white;
     width: 79%;
     margin-left: 0.5%;
     margin-top: 0.5% !important;
     margin-bottom: 1%;
     margin-right: 0.5% !important;
     font-family: 'Raleway', sans-serif;
}
 .filterTitle {
     padding: 1.5%;
     border-bottom: 4px solid #C4C4C4;
}
 .filterTitle h4 span {
     color:#62B7BA;
     font-family: 'Arima Madurai', cursive;
}
 .filterTitle2 {
     padding: 1%;
     border-bottom: 3px solid #C4C4C4;
     margin-left: 1%;
}
 .filterTitle2 span {
     font-family: 'Raleway', sans-serif;
}
 .filterCharectors {
     border-bottom: 1px solid #C4C4C4;
}
 .otherFilters {
     font-family: 'Raleway', sans-serif;
}
 #searchAllBlock {
     border: none !important;
     border-bottom: 1px solid #C4C4C4 !important;
     padding: 3%;
     width: 130px;
     transition-property: border;
     font-family: 'Raleway', sans-serif;
     transition-duration: 1s;
     transition-timing-function: linear;
}
 #searchAllBlock:hover {
     border-bottom: 2px solid #62B7BA !important;
}
 .sortButton {
     margin-top:7%;
     width:50%;
     margin-left: 25%;
     font-family: 'Raleway', sans-serif;
     margin-right: 25%;
     background-color: transparent;
     border: 1px solid red !important;
     transition-property: background,color;
     transition-duration: 1s;
     transition-timing-function: linear;
}
 .sortButton span {
     margin-top: 2.5%;
}
 .sortButton:hover {
     background-color: red;
     color: white !important;
}
 .backBtn {
     background-color: transparent !important;
     border: 1px solid red !important;
     font-family: 'Raleway', sans-serif;
     transition-property: background,color;
     transition-duration: 1s;
     transition-timing-function: linear;
     color: black;
     width:10%;
}
 .backBtn:hover {
     background-color: red !important;
     color: white !important;
}
 .backBtn i {
     margin-top: 2%;
}
/* select {
     padding: 3.5% !important;
     transition-property:border-radius,color;
     transition-duration: 0.5s;
     transition-timing-function: linear;
}
 select:hover {
     border-radius: 16px !important;
}
 */
 .selectToDisplay {
     padding: 0 !important;
     margin: 0 !important;
     margin-top: 1% !important;
     margin-bottom: 1% !important;
}
 .selectToDisplay div a {
     border: 1px solid #62B7BA;
     color: black;
     width: 130px;
     font-family: 'Raleway', sans-serif;
     transition-property: background,color;
     transition-duration: 1s;
     transition-timing-function: linear;
}
 .selectToDisplay div a:hover {
     background-color: #62B7BA;
     color: white;
}
 .mainRepeatBlock {
     border-top: 20px solid #C4C4C4;
     border-bottom: 20px solid #C4C4C4;
     transition-duration: 1s;
     transition-timing-function: linear;
}
 .card {
     border: 2px solid #C4C4C4;
     height: 100% !important;
     width: 80% !important;
     height: 300px !important;
     margin-left: 10% !important;
     margin-right: 10% !important;
     margin-top: 5%;
     margin-bottom: 5%;
     box-shadow: 5px 5px 5px #C4C4C4;
     transition-property: background,color;
     transition-duration: 1s;
     transition-timing-function: linear;
}
 .card:hover {
     box-shadow: 10px 10px 10px #C4C4C4;
}
 .housesCard {
     background: url('/SPA_GOT/assets/images/housesCard.jpg');
     background-size: 100% 100% !important;
}
 .housesCard div {
     text-decoration: bold;
     font-family: 'Raleway', sans-serif;
     padding: 0 !important;
     margin-left: 20%;
}
 .houseName {
     color: #62B7BA;
     font-size: 18px;
     margin-top: 5%;
}
 .houseRegion {
     color: #614E4C;
     margin-top: -5%;
}
 .housesCard div button {
     background-color: transparent !important;
     transition-property: background,color;
     border: 1px solid #614E4C;
     transition-duration: 1s;
     transition-timing-function: linear;
     margin-top: 100%;
     margin-left: 100%;
}
 .housesCard div button:hover {
     background-color:#614E4C !important;
     color: white;
}
 .housesCard div p:hover {
     background-color: green !important;
}
 .charactersCard {
     background: url('/SPA_GOT/assets/images/characterCard.png');
     background-size: 100% 100% !important;
}
 .charactersCard div {
     text-decoration: bold;
     font-family: 'Raleway', sans-serif;
     padding: 0 !important;
     margin-left: 55% !important;
}
 .charactersCard div button {
     background-color: transparent !important;
     transition-property: background,color;
     border: 1px solid #C6685E;
     transition-duration: 1s;
     color: brown;
     transition-timing-function: linear;
}
 .charactersCard div button:hover {
     background-color:#C6685E !important;
     color: white;
}
 .characterName {
     font-size: 18px;
     margin-top: 10%;
}
 .characterGender {
     color:#62B7BA;
}
 .booksCard {
     background: url('/SPA_GOT/assets/images/booksCard.png');
     background-size: 100% 100% !important;
}
 .booksCard div {
     text-decoration: bold;
     font-family: 'Raleway', sans-serif;
     margin-left: 50% !important;
}
 .booksCard div button {
     background-color: transparent !important;
     transition-property: background,color;
     border: 1px solid #C6685E;
     transition-duration: 1s;
     color: brown;
     margin-top: 50% !important;
     transition-timing-function: linear;
}
 .booksCard div button:hover {
     background-color:#C6685E !important;
     color: white;
}
 .bookName {
     font-size: 12px;
     text-decoration: bold;
     margin-top: 15% !important;
}
 .bookAuthor {
     color: #62B7BA;
     margin-left: -5% !important;
}
 .card div {
     width: auto !important;
}
 .bookPages {
     color: #C6685E;
}
 .bookPublisher {
     color: brown;
     font-size: 12px;
}
 .singleBookCard {
     background: url('/SPA_GOT/assets/images/singleBook.jpg');
     background-size: 100% 100% !important;
     margin-left: 5% !important;
     margin-right: 5% !important;
     border-radius: 16px;
     box-shadow: 8px 8px 8px #5F4B56;
     padding:5%;
}
 .singleBookCard a {
     color: white;
}
 .singleBookCard a:hover {
     text-decoration: none;
     color: white;
     text-decoration: bold;
     font-size: 20px;
}
 .singleBookCard:hover {
     box-shadow: 14px 14px 14px #5F4B56;
}
 .singleBookCard div {
     color: white;
     font-family: 'Raleway', sans-serif;
}
 .singleCharacterCard {
     background: url('/SPA_GOT/assets/images/singleCharacter.jpg');
     background-size: 100% 100% !important;
     margin-left: 5% !important;
     margin-right: 5% !important;
     border-radius: 16px;
     box-shadow: 8px 8px 8px #5F4B56;
     padding:5%;
}
 .singleCharacterCard a {
     color: white;
}
 .singleCharacterCard a:hover {
     text-decoration: none;
     color: white;
     text-decoration: bold;
     font-size: 20px;
}
 .singleCharacterCard:hover {
     box-shadow: 14px 14px 14px #5F4B56;
}
 .singleCharacterCard div {
     color: white;
     font-family: 'Raleway', sans-serif;
}
 .singleHouseCard {
     background: url('/SPA_GOT/assets/images/singleHouse.jpg');
     background-size: 100% 100% !important;
     margin-left: 5% !important;
     margin-right: 5% !important;
     border-radius: 16px;
     box-shadow: 8px 8px 8px #5F4B56;
     padding:5%;
}
 .singleHouseCard a {
     color: white;
}
 .singleHouseCard a:hover {
     text-decoration: none;
     color: white;
     text-decoration: bold;
     font-size: 20px;
}
 .singleHouseCard:hover {
     box-shadow: 14px 14px 14px #5F4B56;
}
 .singleHouseCard div {
     color: white;
     font-family: 'Raleway', sans-serif;
}
 .information {
     padding: 5% !important;
     width: 100% !important 
}
 .infoBlock {
     font-family: 'Lobster', cursive;
     font-size: 20px;
}
 .fix-to-top {
     position: fixed;
     top:6%;
}
 .showMore {
     background-color: transparent !important;
     font-family: 'Raleway', sans-serif !important;
     transition-property: background,color;
     transition-duration: 1s;
     transition-timing-function: linear;
}
 .showMore:hover {
     background-color: green !important;
     color: white !important;
}
 