

<div style="color: white;">
   <div class="singleCharacterCard"  style="margin-top:1em !important;margin-bottom:5% !important;">
      <div class="row" ng-repeat="data in charCtrl.charsData">
         <div class="col col-sm-12 col-md-12 text-center">
            <i class="fa fa-male fa-5x" aria-hidden="true"></i>
            <h2 ng-if ='data.name != ""'><span style="margin:0px 5px;"></span> <b> {{ data.name }}</b> 
               <span style="margin:0px 5px;"></span>
            </h2>
            <h4>Known as : "{{charCtrl.knownAs || "Data Unavailable" }}" </h4>
            <hr style=" border-top: 1px solid black; margin-top: 5px;">
         </div>
         <div class="col col-sm-5 col-md-5 text-center">
            <div class="col col-sm-12 col-md-12">
               <h4>Gender : {{ data.gender || "Data Unavailable" }}</h4>
            </div>
            <div class="col col-sm-12 col-md-12">
               <h4> Born : {{ data.born || "Data Unavailable" }}</h4>
            </div>
            <div class="col col-sm-12 col-md-12">
               <h4>Culture : {{ data.culture || "Data Unavailable" }}</h4>
            </div>
            <div class="col col-sm-12 col-md-12">
               <h4>Died : {{ data.died || "Data Unavailable" }}</h4>
            </div>
            <div class="col col-sm-12 col-md-12">
               <h4>
                  Father : 
                  <h6><a ng-href ='#/characters/{{ data.father.split("/").pop() }}' style="color: #81d0e7;">{{ data.father }}</a></h6>
                  <h6 ng-if="data.father==''">Data Unavailable</h6>
               </h4>
            </div>
            <div class="col col-sm-12 col-md-12">
               <h4>
                  Mother : 
                  <h6> <a ng-href ='#/characters/{{ data.mother.split("/").pop() }}' style="color: #81d0e7;"> {{ data.mother }}</a></h6>
                  <h6 ng-if="data.mother==''">Data Unavailable</h6>
               </h4>
            </div>
            <div class="col col-sm-12 col-md-12">
               <h4>
                  Spouse : 
                  <h6><a  ng-href ='#/characters/{{ data.spouse.split("/").pop() }}' style="color: #81d0e7;">{{ data.spouse}}</a></h6>
                  <h6 ng-if="data.spouse==''">Data Unavailable</h6>
               </h4>
            </div>
         </div>
         <div class="col col-sm-1 col-md-1">
            <!-- Blank space for UI purposes -->
         </div>
         <div class="col col-sm-5 col-md-5 text-center" >
            <div class="col col-sm-12 col-md-12">
               <h4>Played by : "{{ data.playedBy[0] || "Data Unavailable"}}"</h4>
            </div>
            <div class="col col-sm-12 col-md-12">
               <h4>Title : "{{ data.titles[0] || "Data Unavailable"}}"</h4>
            </div>
            <div class="col col-sm-12 col-md-12">
               <h4>Appeared in : "{{ charCtrl.seasons || "Data Unavailable" }}"</h4>
            </div>
            <div class="col col-sm-12 col-md-12" ng-if = 'data.books.length >= 1'>
               <h4>Books :</h4>
               <div  ng-repeat ="books in data.books">
                  <h6><a ng-href ='#/books/{{ books.split("/").pop() }}'  style="color: #81d0e7;">{{ books }}</a></h6>
               </div>
            </div>
         </div>
         <div class="col col-sm-12 col-md-12" style="display: flex;justify-content: center;margin: 10px 0px;">
            <p><button class="w3-button w3-blue w3-round-xxlarge" class="btn btn-default"  onclick="window.history.back();">back</button></p>
         </div>
      </div>
   </div>
</div>

